<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title | default: "My Portfolio" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
    >
  <link rel="stylesheet" href="/css/custom.css">
  <script src = "/js/settings.js"></script>
</head>
<body>
  <header>

{% include 'nav.liquid' %}

    <h1>{{ title }}</h1>
  </header>
    <main>
    {{ content }}
</main>
{% include 'footer.liquid' %}
</body>
</html>
