---
layout: layouts/base.liquid
title: Home
---

<h3>안녕하세요, 경희대학교 컴퓨터공학과 박헌성입니다.</h3>
<p>Hello, My name is Heonseong Park. I'm studying computer engineering at Kyung Hee University.</p>

<h3> 
<h2>Recent Posts</h2>
<ul>
  {% for post in collections.posts %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a> - {{ post.date | date: "%b %d, %Y" }}</li>
  {% endfor %}
</ul>
